[Unit]
Description=Install Ansible on first startup
After=network.target time-sync.target
Wants=time-sync.target

[Service]
ExecStart=/usr/local/bin/setup.sh
KillMode=process
StandardOutput=tty
TTYPath=/dev/ttyAMA0

[Install]
WantedBy=multi-user.target
